<!-- SECCIÓN 0 Portada-->
<app-home-portada></app-home-portada>
<!-- FIN SECCIÓN 1 -->

<!-- SECCIÓN 1 Login-->
<app-home-login></app-home-login>
<!-- FIN SECCIÓN 1 -->

<!-- SECCIÓN 2  Galer'ia-->
<app-home-galeria></app-home-galeria>
<!-- FIN SECCIÓN 2 -->

<!-- SECCIÓN 3  Nosotros-->
<app-home-nosotros></app-home-nosotros>
<!-- FIN SECCIÓN 3 -->

<!-- SECCIÓN 4  Contactanos-->
<app-home-contactanos></app-home-contactanos>
<!-- FIN SECCIÓN 4 -->

<!-- SECCIÓN 5  Pie de p'agina-->
<app-home-pie-pagina></app-home-pie-pagina>
<!-- FIN SECCIÓN 5 -->